<?xml version="1.0"?>
<launch>

  <!--arg name="ard_port" default="/dev/ttyACM0"/-->
  <arg name="baud_rate" default="57600"/>

  <include file="$(find robot_base)/launch/robot_base.launch"/>
  <!--include file="$(find rplidar_ros)/launch/rplidar.launch"/-->

  

  <!--node name="imu_pub" pkg="imu_mpu9250_pub" type="imu_pub.py"/>
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node">
    <param name="use_mag" value="true"/>
    <param name="publish_tf" value="true"/>
  </node-->

</launch>
